header {
  background-color: var(--content-bg-color);
  height: 75px;
}

header > div {
  background-color: var(--content-bg-color);
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 calc(2 * var(--base-space));
  position: relative;
  z-index: 1;
  max-width: 728px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1 a {
  color: var(--dark-text-color);
  text-decoration: none;
  font-weight: normal;
  font-size: 2.4rem;
  display: block;
}

header div.sm-screen-btn {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.sm-screen-btn button {
  border: 0;
  padding: 15px;
  margin-right: -1rem;
  color: var(--dark-text-color);
  background-color: var(--content-bg-color);
  font-weight: bold;
  font-size: 2.2rem;
  cursor: pointer;
}

.sm-screen-menu-show .sm-screen-btn button {
  color: var(--content-bg-color);
  background-color: #c8c8c8;
}

nav.sm-screen {
  display: block;
  width: 100%;
  background-color: var(--content-bg-color);
  transform: translateY(-100%);
  position: relative;
  top: 1px;
  z-index: 0;
  transition: transform ease-out .4s;
  border-bottom: solid 1px var(--default-border-color);
}

.sm-screen-menu-show nav.sm-screen {
  transform: translateY(-1px);
}

nav.lg-screen {
  display: none;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 1.5rem;
}

nav.sm-screen a {
  display: block;
  text-align: center;
  padding: 15px 0;
}

nav a.active {
  color: var(--dark-text-color);
}

@media screen and (min-width: 991px) {

  header {
    border-bottom: 1px solid var(--default-border-color);
    height: 76px;
  }

  header > div {
    max-width: 940px;
    border-bottom: 1px solid var(--default-border-color);
    height: 76px;
  }

  nav.sm-screen {
    display: none;
  }

  nav.lg-screen {
    display: block;
  }

  nav.lg-screen ul {
    display: flex;
    flex-direction: row;
  }

  nav.lg-screen li {
    margin-left: calc(2 * var(--base-space));
  }

  .sm-screen-btn button {
    display: none;
  }

}
