:root {
  --main-bg-color: #f0f0f0;
  --main-text-color: #aaa;
  --dark-text-color: #111;

  --content-bg-color: #fff;

  --default-border-color: #e0e0e0;

  --default-font: 'Lato', Arial, Helvetica, sans-serif;

  --base-space: 10px;
}